* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Oxygen", Helvetica, sans-serif;
}

body {
    background-color:  #99ddff;

}

.container {
    width: 1000px;
    margin: 0 auto;

}

input {

    width: 200px;
    height: 40px;
    padding: 0 20px;
    margin: 0 30px 40px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;


}

span {
    color: gray;
    text-transform: uppercase;
}

#cloud {
    width: 600px;
    height: 550px;
    background-image: url('../images/cloud.png');
    background-repeat: no-repeat;
    background-size: contain;

}

.center {
    float: right;
}

p {
    /*background-color: yellow;
    opacity: 0.6;*/
    margin-top: 40px;
    margin-left: 15px;
    width: 580px;
    height: 450px;
    text-align: center;
    line-height: 410px;
    padding: 20px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    line-height: 23px;
    font-weight: 300;
    text-align: center;
    color: black;
}

#photo {
    /*background-color: magenta;*/
    border: none;
    width: 450px;
    height: 430px;
    position: absolute;
    right: 80px;
    top: 180px;
    background-position: center;
    background-repeat: no-repeat;
background-size: cover;

}
